[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
yapf = "*"
pylint = "*"
python-language-server = "*"

[packages]
Sphinx = "*"
allennlp = {git = "https://github.com/allenai/allennlp.git"}
transformers = "*"
luigi = "*"
gokart = "*"
opustools-pkg = "*"

[requires]
python_version = "3.7"
