[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
yapf = "*"
pylint = "*"
python-language-server = "*"
black = "*"
jupyter = "*"
seaborn = "*"

[packages]
Sphinx = "*"
allennlp = {git = "https://github.com/allenai/allennlp.git",ref = "master"}
transformers = "*"
luigi = "*"
gokart = "*"
opustools-pkg = "*"
sentencepiece = "*"
fairseq = {git = "https://github.com/pytorch/fairseq.git",ref = "master"}
sacrebleu = "*"
mecab-python3 = "*"
fasttext = "*"
pyknp = "*"
ginza = "*"
beautifulsoup4 = "*"
lxml = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
